body {
    background-color: rgb(114, 201, 211);
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: justify;
    box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.551);
}

h1 {
    text-align: center;
}

.titulo {
    text-align: center;
}

h2 {
    margin-bottom: 0px;
    padding: 0px 10px;
}

.lista {
    display: flex;

}

.itens,
.lista {
    box-shadow: none;
    margin: 0px;
    padding-top: 0px;
}

p {
    margin: 16px 30px;
}